---
import BaseLayout from "../layouts/BaseLayout.astro";
import Art from "../components/Art.astro";
const pageTitle = 'Gallery'
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is a collection of my Art work.</p>
    <div class="artwork-collection">
        <Art 
           heading="The eye"
           subheading="A close up into the soul"
           image="https://images.unsplash.com/photo-1690741745153-636872122965?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8"
        />
        <Art
           heading="The wild"
           subheading='Enjoy what mother nature has to offer'
           image="https://images.unsplash.com/photo-1595877244574-e90ce41ce089?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDYxfHx8ZW58MHx8fHx8"
         />
         <Art
           heading="Noise"
           subheading='Listen to your city story'
           image="https://images.unsplash.com/photo-1715588103170-a86bd7a71db4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDZ8fHxlbnwwfHx8fHw%3D"
          />
    </div>
</BaseLayout>

<style>
    .artwork-collection {
        display: flex;
        flex-flow: row wrap;
        gap: 1.2rem;
    }
</style>